name: Rex Release

on:
  push:
    # On tags, this generates a release and pushes docker images with the tag name
    tags:
      - "v*.*.*-*"
    # On pushes to main, this silently builds and pushes docker images tagged as 'main'
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  actions: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROVER_REPRODUCIBLE_BUILD: true

jobs:
  build-rex:
    strategy:
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-latest
        include:
          - platform: ubuntu-22.04
            os: linux
            arch: x86_64
          - platform: ubuntu-22.04-arm
            os: linux
            arch: aarch64
          - platform: macos-latest
            os: macos
            arch: aarch64
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Free Disk Space
        if: ${{ matrix.os == 'linux' }}
        uses: ./.github/actions/free-disk

      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust

      - name: Build rex
        run: |
          cargo build --release --bin rex
          chmod +x target/release/rex
          mv target/release/rex rex-${{ matrix.os }}-${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rex-${{ matrix.os }}-${{ matrix.arch }}
          path: rex-${{ matrix.os }}-${{ matrix.arch }}

  build-docker:
    name: "Build and publish rex docker image"
    runs-on: ubuntu-latest

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
      actions: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/actions/free-disk

      - name: Format name
        run: |
          # For branch builds (main) we want docker images tagged as 'main'. For tag pushes
          # use the tag name (stripped of a leading 'v').
          if [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
            echo "TAG_VERSION=main" >> $GITHUB_ENV
          else
            echo "TAG_VERSION=$(echo ${{ github.ref_name }} | tr -d v)" >> $GITHUB_ENV
          fi

      # Pushes to ghcr.io/lambdaclass/rex
      - name: Build and push L1 Docker image
        id: push_l1
        uses: ./.github/actions/build-docker
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          push: ${{ github.event_name != 'workflow_dispatch'}}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG_VERSION }}

  # Creates a release on GitHub with the binaries
  finalize-release:
    if: github.ref_type == 'tag' && github.event_name != 'workflow_dispatch'
    needs:
      - build-rex
      - build-docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./bin
          pattern: "rex*"

      - name: Get previous tag
        run: |
          last_tag=$(git --no-pager tag --sort=creatordate | grep -v -E '^v[0-9]+\.[0-9]+\.[0-9]+-' | grep -v '${{ github.ref_name }}' | tail -1)
          echo "Last tag: $last_tag"
          common_parent=$(git merge-base ${{ github.ref_name }} $last_tag)
          echo "PREVIOUS_TAG: $common_parent"
          echo "PREVIOUS_TAG=$common_parent" >> $GITHUB_ENV

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fromTag: ${{ github.ref_name }}
          toTag: ${{ env.PREVIOUS_TAG }}
          writeToFile: false

      - name: Finalize Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ./bin/**/*
          draft: false
          prerelease: true
          tag_name: ${{ github.ref_name }}
          name: "rex: ${{ github.ref_name }}"
          body: >
            Installation and running instructions can be found in [our docs](https://github.com/lambdaclass/rex/blob/main/README.md).

            ${{ steps.changelog.outputs.changes }}
